@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

.reveal section img {
    border: 0;
    box-shadow: none;
}

.reveal .slides {
    text-align: left;
}

.reveal .slides section > * {
    margin-left: 0;
    margin-right: 0;
}

.reveal pre code {
    font-size: 16px;
    line-height: 18px;
}

.reveal {
    background-color: #453539;
    color: #FAA063;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4 {
    font-family: 'Amatic SC', cursive;
    color: #FAA063;
}
